.dropdownBtn{
    border: none !important;
    color: black !important;
}
.dropdown-menu{
    color: #fff;
    border: none !important;
}
.navbar{
 background-color: #FFE353;
}
.languageDisabled {
  color: #999 !important;
  cursor: not-allowed;
}

.languageDisabled:hover {
  background-color: #f1f1f1;
  color: #777 !important;
}